<br>
<ng-container *ngIf="products.orders?.length != 0">
    <div class="card-table">
        <div class="cart-product">
            <table class="table">
                <thead>
                    <tr class="tbhead">
                        <th scope="col"> No. </th>
                        <th scope="col"> Name </th>
                        <th scope="col"> Image </th>
                        <th scope="col"> Description </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Quantity </th>
                        <th scope="col"> Total </th>
                        <th scope="col"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbbody" *ngFor="let item of products.orders; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{item.title}} </td>
                        <td> <img src="{{item.image}}" alt={{item.title}} height="100px" width="100px"> </td>
                        <td> {{item.description}} </td>
                        <td> {{item.price | currency: '&#8369;' : 'code'}} </td>
                        <td> 
                            <a id="minmax" type="button" class="btn" (click) = "dec(item)"><i class="fa fa-minus"></i></a>
                            <input id="qty" type="number" min="1" [(ngModel)] = "item.itemQuantity"  (change)="updateQty(item)">               
                            <a id="minmax" type="button" class="btn" (click) = "inc(item)"><i class="fa fa-plus"></i></a>
                        </td>
                        <td> {{item.itemTotalPrice | currency: '&#8369;' : 'code'}} </td>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(item)"> <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Grand&nbsp;Total:&nbsp;</strong></td>
                        <td><strong>{{grandTotal | currency: '&#8369;' : 'code'}}</strong></td>
                        <td><button class="btn btn-danger" (click)="emptyCart()">Empty&nbsp;Cart</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary" type="button" routerLink="/product">Shop&nbsp;More</button></td>
                        <td><button class="btn btn-success" type="button" routerLink="/checkout">Check&nbsp;Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <app-footer></app-footer>
</ng-container>
<ng-container *ngIf="products.orders?.length == 0">
    <div class="container">
        <div class="center">
            <h1 class="card-title"> My Cart </h1>
            <img src="{{image_url}}/cart.png" alt="">
            <h4> Your cart is empty! </h4>
            <h5> Add item to it now. </h5>
            <button class = "btn btn-primary" routerLink="/product"> Shop Now </button>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <app-footer></app-footer>
    </div>
    
</ng-container>


