.tablecheck {
    margin-left: 150px;
    background-color: blue($color: #0ac4f3);
}

.card-table {
    text-align: center;
    margin-right: 200px;
}

h4 {
    text-align: center;
}

.tbhead {
    background-color: rgb(0, 183, 255);
    text-align: center;
}

.card-title {
    align-self: center;
}

.tbbody {
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

#select {
    font-weight: lighter;
}

.OL {
    margin-left: 200px;
    margin-right: 400px;
}
