
<ng-container *ngIf="!authService.isLoggedIn()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>JaHeEd Shoe</h1>
                        <h6>Enter Username and Password</h6>
                    </div>
                    <form>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group md-6">
                                <label for="exampleInputUsername">Username</label>
                                <input formControlName="username" type="text" class="form-control" id="exampleInputUsername"
                                    aria-describedby="emailHelp" placeholder="Username">
                                    <span class="text-danger" *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">Username is required</span>
                            </div>
                            <div class="form-group md-6">
                                <label for="exampleInputPassword1">Password</label>
                                <input formControlName="password" [type]="changetype?'password':'text'" class="form-control"
                                    id="exampleInputPassword1" placeholder="Password">
                                     <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is required</span>
                                <span class="eye" (click)="viewpass()">
                                    <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'" id="hide1"></i>
    
                                </span>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        <a style="color: #fff; " routerLink="../forgot-password" class="btn btn-link">Forgot Password</a>

                        <br>
                        <a style="color: #fff; " routerLink="../signup" class="btn btn-link">Don't have account yet? Click
                            to register.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>