.search-icon {
    position: absolute;
    z-index: 10;
    right: 50%;
    top: 3%;
    color: blue;
}

#sb {
    align-self: center;
}

i {
    position: relative;
    top: 10px;
    left: 15px;
    color: orange
}

#qty {
    position: relative;
    top: 10px;
    left: 15px;
    text-decoration: none;
    color: white;
}

#prodalign {
    margin-top: 5px;
}