<br>
<div id="box" class="card-top container fluid">
    <div class="container d-flex" >
        <div class="category">
            <a (click)="filter('')">
                <img src="{{image_url}}/all_shoes.png" alt="All Products">
                <h6> All Products </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('adidas')">
                <img src="{{image_url}}/adidas.png" alt="Adidas">
                <h6> Adidas </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('nike')">
                <img src="{{image_url}}/nike.png" alt="Nike">
                <h6> Nike </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('vans')">
                <img src="{{image_url}}/vans.png" alt="Vans">
                <h6> Vans </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('converse')">
                <img src="{{image_url}}/converse.png" alt="Converse">
                <h6> Converse </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('puma')">
                <img src="{{image_url}}/puma.png" alt="Puma">
                <h6> Puma </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('worldbalance')">
                <img src="{{image_url}}/worldbalance.png" alt="World Balance">
                <h6> World Balance </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('keds')">
                <img src="{{image_url}}/keds.png" alt="Keds">
                <h6> Keds </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('newbalance')">
                <img src="{{image_url}}/newbalance.png" alt="New Balance">
                <h6> New Balance </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('skechers')">
                <img src="{{image_url}}/skechers.png" alt="Skechers">
                <h6> Skechers </h6>
            </a>
        </div>
    </div>
</div>
