.table {
    text-align: center;
}

.pending {
    color: rgb(107, 107, 215);
    text-decoration: underline;
}

.card {
    height: 70vh;
    margin: 25px;
    padding: 25px;
} 

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    margin: 20px 0px;
}

h4 {
    font-weight: 400;
}

.heads {
    background-color: rgb(0, 183, 255);
    vertical-align: middle;
}