<app-categories (actionEmitter) = "filter($event)"></app-categories>
<div class="card-top container-fluid"><br>
    <table class="filteritem">
        <tr class="heads">
            <th> Sort by </th>
            <th> Filter by Price Range</th>  
        </tr>
        <tr>
            <td>
                <select class="sortitem" [(ngModel)] = "SortbyParam">
                    <option value="" selected> Select </option>
                    <option value="price"> Price </option>
                    <option value="title"> Name </option>
                    <option value="category"> Brand </option>
                </select>
                <button type="button" (click) = "onSortDirection()"> 
                    <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-up"></i>
                    <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-down"></i>
                </button>
            </td>
            <td><br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Min</span>
                    <input [(ngModel)] = "min" type="number" id="min" class="form-control" min="0"><br>
                    <span class="input-group-text" id="basic-addon1">Max</span>
                    <input [(ngModel)] = "max" type="number" id="max" class="form-control" min="0">&nbsp;
                    <button (click) = "resetFilterByPrice()">Reset</button>
                </div>
            </td>
        </tr>
    </table>
 <br/>

<ng-container *ngIf="(filterByCategory | filter:searchKey:['title', 'category']) as result">    
    <div class="card shadow-sm">
        <div class=" row" >
            <ng-container *ngFor="let item of result | pricefilter:[min, max] | sort:[SortbyParam, SortDirection]">
                <div class="card col-md-2">
                    <h4> {{item.name}}</h4>
                        <img src="{{item.image}}" alt="{{item.title}}">
                        <h6> {{item.title}} </h6>
                        <small>{{item.description}}</small>
                        <p><strong> {{item.price | currency: '&#8369;' : 'code'}} </strong></p>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            (click) = addToCart(item)> Add to cart </button>
                        </div>
                </div>
            </ng-container>
        </div>
    </div>
    <app-not-found [visible]="result.length<=0 || !(result | pricefilter:[min, max])?.length"></app-not-found>
</ng-container>
</div>
<br>
<app-footer></app-footer>
