<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form>
                    <form [formGroup]="forgotPassword" (ngSubmit)="submit()">
                        <div class="form-group md-6">
                            <label for="exampleInputUsername">Username</label>
                            <input formControlName="username" type="text" class="form-control" id="exampleInputUsername"
                                aria-describedby="emailHelp" placeholder="Username">
                                <span class="text-danger" *ngIf="forgotPassword.controls['username'].touched && forgotPassword.hasError('required','username')">Username is required</span>
                        </div>
                        <div class="form-group md-6">
                            <label for="exampleInputEmail">Email</label>
                            <input formControlName="email" type="text" class="form-control" id="exampleInputEmail"
                                aria-describedby="emailHelp" placeholder="Email">
                                <span class="text-danger" *ngIf="forgotPassword.controls['email'].touched && forgotPassword.hasError('required','email')">Email is required</span>
                        </div>
                        <div class="form-group md-6">
                            <label for="exampleInputMobileNumber1">Mobile Number</label>
                            <input type = "text" formControlName="mobilenumber"  class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
                            <span class="text-danger" *ngIf="forgotPassword.controls['mobilenumber'].touched && forgotPassword.hasError('required','mobilenumber')">Mobile Number is required</span>
                        </div>
                        <br>
                        <button  type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <a style="color: #fff; " routerLink="../login" class="btn btn-link">Back to login</a>
                        <br>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<app-footer></app-footer>